body {
  width: 100%;
  background-color: black;
  color: white;
}

.menu {
  width: 75%;
  margin: auto;
  background-color: slategrey;
  text-align: center;
}

#story-list{

}

#new-adventure {
  background-color: #666633;
  cursor: pointer;
}

#view-adventure {
  position: relative;
  top: 10%;
  background-color: #663300;
}
